.back {
    padding:7px;
    background-gradient-start: rgba(0,0,0,0.6);
    background-gradient-end: rgba(0,0,0,0.6);
    border-radius: 4px;
}
.button {
    padding:7px;
	background-gradient-direction: vertical;
    background-gradient-start: rgba(0,0,0,0.0);
    background-gradient-end: rgba(250,250,250,0.1);
    border-radius: 4px;color:#363434;
}
.button:hover {
    padding: 7px;
	border-radius: 4px;
	background-gradient-direction: vertical;
    background-gradient-start: rgba(0,0,0,0.0);
    background-gradient-end: rgba(250,250,250,0.1);
    transition-duration: 100;color:#d6d6d6;
}
